Repository vmware/terraform-provider-vcf, pull requests merged in 2024-08, with the labels that each got.

#215 fix: update nsx edge resource type
  docs/data-sources/credentials.md
  internal/credentials/constants.go
  internal/credentials/credential_data_subresource.go
  internal/provider/data_credentials.go
Labels: bug, documentation, needs-review, provider

#219 add missed vrops resourcetype for credentials
  internal/credentials/constants.go
Labels: bug, needs-review, provider

#192 feat: integrate `terraform-plugin-mux` and reimplement `r/network_pool` using the plugin framework
  docs/resources/network_pool.md
  go.mod
  go.sum
  internal/provider/framework_provider.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_network_pool.go
  internal/provider/resource_network_pool_test.go
  main.go
Labels: documentation, dependencies, chore, needs-review, provider

#222 chore: fix linter issues
  .golangci.yml
  go.mod
  go.sum
  internal/provider/resource_user.go
  internal/provider/resource_vcf_instance.go
Labels: dependencies, chore, needs-review, provider

#233 chore: update provider param descriptions
  internal/provider/framework_provider.go
  internal/provider/provider.go
Labels: chore, needs-review, provider

#231 refactor: update apiClient
  internal/provider/data_source_cluster.go
  internal/provider/data_source_domain.go
  internal/provider/resource_ceip_test.go
  internal/provider/resource_certificate.go
  internal/provider/resource_certificate_authority_test.go
  internal/provider/resource_cluster.go
  internal/provider/resource_cluster_test.go
  internal/provider/resource_domain_test.go
  internal/provider/resource_external_certificate.go
  internal/provider/resource_host.go
  internal/provider/resource_host_test.go
  internal/provider/resource_user_test.go
Labels: needs-review, refactor, provider

#228 feat: add name option to `d/domain`
  docs/data-sources/domain.md
  examples/data-sources/domain/variables.tf
  examples/data-sources/domain/vcf_domain.tf
  internal/constants/constants.go
  internal/provider/data_source_domain.go
  internal/provider/data_source_domain_test.go
Labels: documentation, provider

#227 feat: add task tracker with detailed logging
  internal/api_client/task_tracker.go
Labels: enhancement, needs-review, provider

#234 fix: bootstrap in muxed mode during testing
  internal/provider/data_credentials_test.go
  internal/provider/data_network_pool.go
  internal/provider/data_network_pool_test.go
  internal/provider/data_source_cluster_test.go
  internal/provider/data_source_domain_test.go
  internal/provider/provider_test.go
  internal/provider/resource_ceip_test.go
  internal/provider/resource_certificate_authority_test.go
  internal/provider/resource_certificate_test.go
  internal/provider/resource_cluster_personality_test.go
  internal/provider/resource_cluster_test.go
  internal/provider/resource_credentials_auto_rotate_policy_test.go
  internal/provider/resource_credentials_password_rotate_test.go
  internal/provider/resource_credentials_password_update_test.go
  internal/provider/resource_csr_test.go
  internal/provider/resource_domain_test.go
  internal/provider/resource_edge_cluster_test.go
  internal/provider/resource_external_certificate_test.go
  internal/provider/resource_host_test.go
  internal/provider/resource_network_pool_test.go
  internal/provider/resource_user_test.go
  internal/provider/resource_vcf_instance_test.go
Labels: needs-review, provider
