Repository vmware/terraform-provider-vcf, pull requests merged in 2024-06, with the labels that each got.

#183 docs: add versions support
  README.md
  docs/build.md
  docs/images/icon-color.svg
  docs/index.md
  docs/install.md
Labels: documentation, needs-review, provider

#184 Configure optional properties for edge clusters and nodes
  docs/resources/edge_cluster.md
  docs/resources/network_pool.md
  go.mod
  go.sum
  internal/nsx_edge_cluster/edge_cluster_operations.go
  internal/nsx_edge_cluster/edge_node_subresource.go
  internal/provider/resource_edge_cluster.go
  internal/provider/resource_edge_cluster_test.go
  internal/provider/resource_network_pool.go
Labels: documentation, dependencies, chore, needs-review, provider

#185 docs: minor updates
  README.md
  docs/index.md
Labels: documentation, needs-review

#186 chore: Prepare changelog for 0.9.1
  CHANGELOG.md
Labels: documentation, needs-review

#189 feat: enable vum-based bringup via `r/vcf_instance`
  docs/resources/instance.md
  internal/provider/resource_vcf_instance_test.go
  internal/sddc/sddc_cluster_subresource.go
Labels: documentation, needs-review, provider

#194 feat: accept entity names as inputs for several resources
  docs/resources/cluster.md
  docs/resources/edge_cluster.md
  docs/resources/host.md
  internal/constants/constants.go
  internal/nsx_edge_cluster/edge_cluster_operations.go
  internal/nsx_edge_cluster/edge_node_subresource.go
  internal/provider/resource_cluster.go
  internal/provider/resource_cluster_test.go
  internal/provider/resource_edge_cluster.go
  internal/provider/resource_edge_cluster_test.go
  internal/provider/resource_host.go
  internal/provider/resource_host_test.go
Labels: documentation, needs-review, provider

#190 feat: add optional parameters for setting up vsan esa mode
  docs/resources/cluster.md
  docs/resources/host.md
  docs/resources/instance.md
  internal/datastores/vsan_datastore_subresource.go
  internal/provider/resource_host.go
  internal/sddc/sddc_vsan_subresource.go
Labels: documentation, enhancement, needs-review, provider
