Repository vmware/terraform-provider-vcf, pull requests merged in 2024-01, with the labels that each got.

#107 feat: add credentials management
  CHANGELOG.md
  docs/data-sources/credentials.md
  docs/resources/credentials_auto_rotate_policy.md
  docs/resources/credentials_rotate.md
  docs/resources/credentials_update.md
  examples/data-sources/cluster/vcf_credentials.tf
  examples/data-sources/credentials/vcf_credentials.tf
  examples/resources/credentials/variables.tf
  examples/resources/credentials/vcf_credentials_auto_rotate_policy.tf
  examples/resources/credentials/vcf_credentials_rotate.tf
  examples/resources/credentials/vcf_credentials_update.tf
  internal/api_client/sddc_manager_client.go
  internal/credentials/constants.go
  internal/credentials/credential_data_subresource.go
  internal/credentials/credential_operations.go
  internal/provider/data_credentials.go
  internal/provider/data_credentials_test.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_credentials_auto_rotate_policy.go
  internal/provider/resource_credentials_auto_rotate_policy_test.go
  internal/provider/resource_credentials_password_rotate.go
  internal/provider/resource_credentials_password_rotate_test.go
  internal/provider/resource_credentials_password_update.go
  internal/provider/resource_credentials_password_update_test.go
Labels: documentation, dependencies, chore, needs-review, provider

#112 feat: add support for nsx edge clusters
  docs/resources/cluster.md
  docs/resources/edge_cluster.md
  examples/data-sources/cluster/variables.tf
  examples/data-sources/cluster/vcf_cluster.tf
  examples/data-sources/cluster/vcf_credentials.tf
  examples/data-sources/credentials/vcf_credentials.tf
  examples/data-sources/domain/variables.tf
  examples/data-sources/domain/vcf_domain.tf
  examples/main.tf
  examples/provider/provider.tf
  examples/provider/variables.tf
  examples/resources/certificates/certificate/variables.tf
  examples/resources/certificates/certificate/vcf_certificate.tf
  examples/resources/certificates/certificate_authority/variables.tf
  examples/resources/certificates/certificate_authority/vcf_certificate_authority.tf
  examples/resources/certificates/csr/variables.tf
  examples/resources/certificates/csr/vcf_csr.tf
  examples/resources/certificates/external_certificate/variables.tf
  examples/resources/certificates/external_certificate/vcf_external_certificate.tf
  examples/resources/cluster/variables.tf
  examples/resources/cluster/vcf_cluster.tf
  examples/resources/credentials/variables.tf
  examples/resources/credentials/vcf_credentials_auto_rotate_policy.tf
  examples/resources/credentials/vcf_credentials_rotate.tf
  examples/resources/credentials/vcf_credentials_update.tf
  examples/resources/domain/variables.tf
  examples/resources/domain/vcf_domain.tf
  examples/resources/edge_cluster/variables.tf
  examples/resources/edge_cluster/vcf_edge_cluster.tf
  examples/resources/host/variables.tf
  examples/resources/host/vcf_host.tf
  examples/resources/instance/variables.tf
  examples/resources/instance/vcf_instance.tf
  examples/resources/network_pool/variables.tf
  examples/resources/network_pool/vcf_network_pool.tf
  examples/resources/user/variables.tf
  examples/resources/user/vcf_user.tf
  examples/variables.tf
  internal/constants/constants.go
  internal/nsx_edge_cluster/cluster_profile_subresource.go
  internal/nsx_edge_cluster/edge_cluster_operations.go
  internal/nsx_edge_cluster/edge_node_subresource.go
  internal/provider/provider.go
  internal/provider/resource_edge_cluster.go
  internal/provider/resource_edge_cluster_test.go
  internal/validation/validation_utils.go
  internal/validation/validation_utils_test.go
Labels: documentation, needs-review, provider

#118 Update changelog for 0.8.0
  CHANGELOG.md
Labels: documentation, needs-review
