Repository vmware/terraform-provider-vcf, pull requests merged in 2024-09, with the labels that each got.

#237 feat: add `d/certificate` datasource
  docs/data-sources/certificate.md
  internal/certificates/certificate_operations.go
  internal/certificates/certificate_subresource.go
  internal/provider/data_certificate.go
  internal/provider/data_certificate_test.go
  internal/provider/provider.go
  internal/provider/resource_certificate.go
  internal/provider/resource_external_certificate.go
Labels: documentation, needs-review, datasource, provider

#239 fix: provider configuration validation
  internal/provider/provider.go
Labels: bug, needs-review, provider

#242 chore: update `CHANGELOG.md`
  CHANGELOG.md
Labels: documentation, chore, needs-review

#243 chore(release): v0.11.0
  CHANGELOG.md
  README.md
  docs/index.md
Labels: documentation, chore
