Repository vmware/terraform-provider-vcf, pull requests merged in 2025-03, with the labels that each got.

#295 Relax Edge Cluster setting restrictions for Tier0/1 routers and ASN
  docs/resources/edge_cluster.md
  internal/provider/resource_edge_cluster.go
  internal/provider/resource_edge_cluster_test.go
  internal/validation/validation_utils.go
Labels: documentation, dco-required, needs-review, provider

#297 feat: set asn and routing type as optional for edge clusters
  docs/resources/edge_cluster.md
  internal/provider/resource_edge_cluster.go
  internal/provider/resource_edge_cluster_test.go
Labels: documentation, needs-review, provider

#296 chore(release): v0.15.0
  CHANGELOG.md
Labels: documentation, chore

#299 refactor: remove `once_only` in `r/credential`
  docs/resources/credentials_rotate.md
  docs/resources/credentials_update.md
  internal/provider/resource_credentials_password_rotate.go
  internal/provider/resource_credentials_password_update.go
Labels: documentation, breaking-change, needs-review, refactor, provider
